@charset "UTF-8";

.add-new-button {
	padding: 6px 16px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background-color: #1881e8;
}

.admin {
  position: relative;
  width: 100%;
  height: calc(100vh);
    overflow: hidden;
  display: flex;
}

.admin .sidebar {
  position: relative;
  background-color: white;
  height: 100vh;
  box-shadow: rgba(182, 182, 182, 0.18) 0px 4px 8px;
  z-index: 99;
}

.admin .sidebar .open-close-button {
  position: fixed;
  top: 90px;
  left: 265px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f1f1f1;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(70, 70, 70, 0.35) 0px 5px 10px;
}

.admin .sidebar .sidebar-wrapper {
  position: fixed;
  top: 80px;
  width: 280px;
  height: 100%;
  overflow-y: hidden;
  max-height: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 204, 204) transparent;
  border-right: 1px solid #f1f1f1;
}

.admin .sidebar-wrapper .user-info-wrapper {
  display: flex;
  padding: 16px 15px;
  position: relative;
  flex-direction: row;
  gap: 16px;
}

.admin .sidebar-wrapper .user-info-wrapper .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: rgb(255, 236, 235);
  color: rgb(116, 21, 15);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.admin .sidebar-wrapper .user-info-wrapper .avatar h3 {
  color: rgb(116, 21, 15);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
  margin: 0;
}

.admin .sidebar-wrapper .user-info-wrapper .user-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: rgb(44, 44, 44);
}

.admin .sidebar-wrapper .user-money-wrapper {
  margin: 0px 15px 16px;
  background: rgb(242, 242, 242);
  border-radius: 6px;
  padding: 16px;
}

.admin .user-money-wrapper .user-money-item {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}

.admin .user-money-wrapper .user-money-item h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.2px;
  color: rgb(44, 44, 44);
}

.admin .user-money-wrapper .user-money-item .money {
  font-weight: 600;
}

.admin .user-money-wrapper a {
  width: 100%;
  display: block;
}

.admin .user-money-wrapper button {
  height: 32px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: -0.2px;
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  color: rgb(224, 60, 49);
  opacity: 1;
  border: 1px solid rgb(224, 60, 49);
  font-weight: 600;
}

.admin .user-money-wrapper button i {
  padding-right: 8px;
}

.admin .panel-group {
  margin: 0;
}

.admin .panel-group .panel {
  border-radius: 0;
  border: none;
}

.admin .panel-default > .panel-heading {
  background-color: #fff;
  border-radius: 0;
  padding: 0;
  height: 48px;
  cursor: pointer;
  width: 100%;
}

.admin .panel-default > .panel-heading:hover {
  background-color: rgb(242, 242, 242);
}

.admin .panel-title {
  height: 100%;
}

.admin .panel-title a {
  padding: 10px 15px;
  height: 48px;
  width: 100%;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  font-size: 15px;
}

.admin .panel-title a span {
  margin-left: 8px;
}

.admin .panel-group .panel-heading + .panel-collapse > .list-group,
.admin .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.admin .panel > .panel-collapse > .list-group .list-group-item {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 45px;
  border: none;
}

.admin .panel > .panel-collapse > .list-group .list-group-item:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

/* ACTIVE CLOSE */
.admin.active .sidebar .open-close-button {
  left: 65px;
}

.admin.active .sidebar .sidebar-wrapper {
  width: 80px;
  overflow: hidden;
}

.admin.active .admin-list-post,
.admin.active .detail {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.admin.active .panel-title a span {
  display: none;
}

.admin.active .panel-title:hover {
  background-color: #fff;
}

.admin.active .panel-title .fa-angle-down {
  display: none;
}

.admin.active .panel-title a {
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
}

.admin.active .panel-title div i {
  font-size: 24px;
}

.admin.active .panel-default > .panel-heading {
  height: 69px;
}

.admin.active .panel-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin.active .panel-title:hover {
  background-color: #f1f1f1;
}

.admin.active .panel-group {
  position: relative;
}

.admin.active .panel-group .panel div:nth-child(2) {
  height: 0 !important;
}

.admin.active .collapse {
  height: 0px !important;
}

.admin.active .collapse.in {
  display: none;
  height: 0px !important;
}

.admin .collapse-container {
  display: none;
}

.admin.active .collapse-container {
  display: block;
  position: fixed;
  left: 65px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.admin.active .collapse-container-1 {
  top: 125px;
  display: none;
}

.admin.active .collapse-container-2 {
  top: 185px;
  display: none;
}

.admin.active .collapse-container-3 {
  top: 255px;
  display: none;
}

.admin.active .collapse-container .list-group {
  margin: 0;
}

.admin.active .collapse-container .list-group-item {
  border: none;
  width: 200px;
  cursor: pointer;
}

.admin.active .collapse-container .list-group-item:hover {
  background-color: #eee;
}

/* LIST EMP */
.admin .list-category {
	margin-top: 78px;
  margin-left: 280px;
  width: calc(100% - 280px);
  padding: 20px;
}

.admin .list-category .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin .list-category .header-wrapper h3 {
  font-weight: 600;
  margin: 0;
  margin-top: 0px;
  padding-bottom: 7px;
}

.admin .list-category .search-wrapper {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin .list-category .search-wrapper .input-container {
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: fit-content;
}

.admin .list-category .search-wrapper .filter-container select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: fit-content;
}

.admin .list-category .search-wrapper .input-container input {
  padding-left: 10px;
}

.admin .list-category .table-wrapper {
  height: 350px;
  overflow: hidden;
}

.admin .list-category .table-wrapper p {
  margin: 0;
  padding: 6px 0;
}

.admin .list-category .table-wrapper i {
  border-radius: 999px;
  padding: 7px;
  margin-right: 6px;
}

.admin .list-category .table-wrapper i:hover {
  background-color: #cccccc80;
}

.status{
	font-weight: bold;
	color: #55c779;
}

.status[data-status="false"]
	{
	color: #ff4d4d;
}

.detail-emp{
	color: #2e87c9;
    text-decoration: underline;
}

button.authorization-button {
  --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2em;
    line-height: 1em;
    overflow: hidden;
    cursor: pointer;
    margin: 0px;
    font-size: 16px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

button.authorization-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button.authorization-button:hover {
  color: white;
}

button.authorization-button::before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button.authorization-button:hover::before {
  top: -30px;
  left: -30px;
}

.errorMessage{
    color: red !important;
}

.pagination {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 11px;
    background: #fff;
    color: #505050 !important;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.pagination a.active {
   border: 1px solid #2C2C2C;
    background: #2C2C2C;
    color: #fff !important;
}