@charset "UTF-8";

.detail {
	width: 100%;
}

.detail .container {
	margin-top: 24px;
}

/* Content */
.detail-content .swiper {
	width: 100%;
	height: 100%;
	user-select: none;
}

.detail-content .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detail-content .mySwiper2 .swiper-slide {
	height: 390px;
}

.detail-content .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.detail-content .swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.detail-content .mySwiper2 {
	height: 80%;
	width: 100%;
}

.detail-content .mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.detail-content .mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	cursor: pointer;
}

.detail-content .mySwiper .swiper-slide-thumb-active {
	border: 2px solid #2c2c2c;
	border-radius: 6px;
}

.detail-content .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
}

.detail-content .swiper-pagination-fraction {
	left: unset;
	right: 16px;
	width: auto;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	padding: 0px 8px;
}

.detail-content .mySwiper2 .swiper-button-prev {
	width: 32px;
	height: 32px;
	color: #2c2c2c;
	border: 1px solid #ccc;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #fff;
}

.detail-content .mySwiper2 .swiper-button-prev::after {
	font-size: 16px;
}

.detail-content .mySwiper2 .swiper-button-next {
	width: 32px;
	height: 32px;
	color: #2c2c2c;
	border: 1px solid #ccc;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
	background-color: #fff;
}

.detail-content .mySwiper2 .swiper-button-next::after {
	font-size: 16px;
}

/*  */
.detail-content .swiper-free-mode>.swiper-wrapper {
	height: 80px;
}

.detail-content .section-title {
	margin-bottom: 16px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	color: #2c2c2c;
	margin-bottom: 24px;
}

.detail-content .spec-container .row {
	margin-right: -45px;
	margin-left: 0;
}

.detail-content .breadcrumb {
	background-color: #fff;
	color: #ccc;
	padding: 0;
}

.detail-content .breadcrumb a:last-child {
	color: #2c2c2c;
}

.detail-content .detail-content__title {
	font-weight: 600;
}

.detail-content .detail-content__address {
	font-size: 14px;
	line-height: 20px;
	color: #2c2c2c;
	margin-top: 8px;
}

.detail-content .short-info-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 0px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 15px 0px;
}

.detail-content .short-info-container div {
	display: flex;
}

.detail-content .short-info-container .short-info__item {
	display: flex;
	flex-direction: column;
	margin-right: 64px;
}

.detail-content .short-info-container .short-info__item .title {
	font-size: 14px;
	line-height: 20px;
	color: #999;
}

.detail-content .short-info-container .short-info__item .value {
	font-size: 18px;
	line-height: 28px;
	color: #2c2c2c;
	font-weight: 600;
	margin-top: 4px;
}

.detail-content .short-info-container .short-info__button {
	width: 48px;
	height: 48px;
	color: #2c2c2c;
	background: rgba(0, 0, 0, 0);
	border: solid 1px rgba(0, 0, 0, 0);
	font-size: 14px;
	line-height: 20px;
	padding: 13px 15px;
	border-radius: 8px;
}

.detail-content .short-info-container .short-info__button:hover {
	color: #2c2c2c;
	background: #fafafa;
	border: solid 1px #fafafa;
}

.detail-content .short-info-container .short-info__button i {
	margin-top: -2px;
	margin-bottom: -2px;
	margin-right: -4px;
	margin-left: -4px;
	font-size: 24px;
}

.detail-content .description-container {
	margin-top: 40px;
	margin-bottom: 40px;
}

.detail-content .description-container .description-body {
	font-size: 14px;
	line-height: 24px;
}

.detail-content .spec-container {}

.detail-content .spec-container .spec-content-item {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.detail-content .spec-container .spec-content-item::before {
	content: "";
	position: absolute;
	top: 0;
	width: 90%;
	height: 1px;
	background-color: #f2f2f2;
}

.detail-content .spec-container .spec-content-item::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 1px;
	background-color: #f2f2f2;
}

.detail-content .spec-container .spec-content-item .spec-content-item__icon {
	font-size: 22px;
	margin-right: 16px;
	width: 24px;
}

.detail-content .spec-container .spec-content-item .spec-content-item__title {
	width: 128px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #2c2c2c;
	margin-right: 80px;
}

.detail-content .spec-container .spec-content-item .spec-content-item__value {
	font-size: 16px;
	line-height: 24px;
	color: #2c2c2c;
}

.detail-content .search-tag-container .search-tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.detail-content .search-tag-container .search-tag-item {
	margin-top: 8px;
	padding: 6px 16px;
	border-radius: 40px;
	background: #f2f2f2;
	color: #2c2c2c;
	cursor: pointer;
}

.detail-content .search-tag-container .search-tag-item:hover {
	color: #999;
}

.detail-content .recommend-list-container {
	position: relative;
	margin-bottom: 24px;
}

.detail-content .recommend-list-container .recommend-list-header {
	margin-bottom: 24px;
}

.detail-content .recommend-list-container .recommend-list-header .recommend-title {
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	letter-spacing: -0.2px;
	color: #2c2c2c;
}

.detail-content .recommend-list-container .swiper-button-prev {
	top: 30px;
	left: 765px;
	width: 32px;
	height: 32px;
	color: #2c2c2c;
	border: 1px solid #ccc;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
}

.detail-content .recommend-list-container .swiper-button-prev::after {
	font-size: 16px;
}

.detail-content .recommend-list-container .swiper-button-next {
	top: 30px;
	width: 32px;
	height: 32px;
	color: #2c2c2c;
	border: 1px solid #ccc;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 4px;
}

.detail-content .recommend-list-container .swiper-button-next::after {
	font-size: 16px;
}

/* SIDEBAR */
.detail-sidebar {}

.detail-sidebar .sidebar-box,
.detail-sidebar .sidebar-box-contact {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 16px;
}

.detail-sidebar .sidebar-box-contact {
	background-color: #fff;
}

.detail-sidebar .sidebar-box .sidebar-box__title {
	color: #2c2c2c;
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 16px;
}

.detail-sidebar .sidebar-box .sidebar-box__content .sidebar-box__item {
	color: #2c2c2c;
	margin-bottom: 12px;
	cursor: pointer;
	width: fit-content;
}

.detail-sidebar .sidebar-box .sidebar-box__content .sidebar-box__item:hover {
	color: #777777;
}

.detail-sidebar .sidebar-box-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detail-sidebar .sidebar-box-contact .contact-avatar {
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 999px;
	margin-top: 8px;
}

.detail-sidebar .sidebar-box-contact p {
	font-size: 12px;
	line-height: 16px;
	color: #999;
	margin-top: 8px;
}

.detail-sidebar .sidebar-box-contact .contact-name {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: -0.2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color: #2c2c2c;
	margin-top: 8px;
}

.detail-sidebar .sidebar-box-contact .contact-button {
	width: 100%;
	padding: 13px 15px;
	border-radius: 8px;
	font-weight: 600;
	margin-top: 8px;
	background-color: #fff;
	color: #2c2c2c;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
}

.detail-sidebar .sidebar-box-contact .contact-button__phonenumber {
	color: #fff;
	background: #009ba1;
	margin-top: 24px;
}

.detail-sidebar .sidebar-box-contact .contact-button__phonenumber i {
	margin-right: 8px;
}

.detail-sidebar .sidebar-box-contact .contact-button__phonenumber__dot {
	margin: 0 4px;
}

/* CARD */
.recommend-card {
	height: calc(290px - 2px);
	margin-right: 15px;
	border: 1px solid #f2f2f2;
	box-shadow: 0px 4px 6px 0px rgba(44, 44, 44, 0.04);
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
}

.recommend-card .card-image {
	position: relative;
	height: calc(100% - 142px - 12px - 8px);
}

.recommend-card .card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.recommend-card .card-image .card-image-feature {
	position: absolute;
	bottom: 8px;
	right: 8px;
	z-index: 2;
	color: #fff;
	font-weight: 600;
}

.recommend-card .card-image .card-image-feature i {
	margin-right: 6px;
}

.recommend-card .card-info-container {
	margin: 12px 16px 16px 16px;
}

.recommend-card .card-info-container .card-info__title {
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: -0.2px;
	color: #2c2c2c;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}

.recommend-card .card-info-container .card-config__price,
.recommend-card .card-info-container .card-config__area {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	color: #e03c31;
	line-height: 26px;
}

.recommend-card .card-info-container .card-config__dot {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	margin: 0 8px;
	line-height: 26px;
}

.recommend-card .card-info-container .card-info__location {
	font-size: 14px;
	line-height: 20px;
	color: #505050;
}

.recommend-card .card-info-container .card-info__location i {
	margin-right: 6px;
}

.recommend-card .card-info-container .card-info__contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0px;
}

.recommend-card .card-info-container .card-published-info {
	font-size: 12px;
	line-height: 16px;
	color: #999;
}

.recommend-card .card-info-container .card-contact-button__favorite {
	color: #2c2c2c;
	background: #fff;
	border: solid 1px #ccc;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.2px;
	padding: 8px 10px;
	border-radius: 4px;
	cursor: pointer;
}