@charset "UTF-8";
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.header-container {
  padding: 17px 15px 17px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18);
}

/* HEADER MENU */
.header-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-menu .left-menu img {
  width: 160px;
  height: 48px;
  margin-top: 7px;
}

.header-menu .right-menu .menu-container {
  display: flex;
  margin: 0;
  gap: 24px;
}

.header-menu .right-menu .menu-container .menu__item {
  position: relative;
  font-weight: 600;
  color: #2c2c2c;
  padding: 12px 0px 2px;
  cursor: pointer;
  font-size: 15px;
}

.header-menu .right-menu .menu-container .menu__item::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 10px;
  background-color: transparent;
}

.header-menu .right-menu .menu-container .menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: rgb(228, 54, 54);
  transition: all 0.3s ease-in-out;
}

.header-menu .right-menu .menu-container .menu__item:hover::after {
  width: 100%;
}

.header-menu .right-menu .menu-container .menu__item .list-container {
  position: absolute;
  top: 40px;
  width: max-content;
  background-color: white;
  padding: 8px 0;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  transition: all 0.9s ease;
}

.header-menu .right-menu .menu-container .menu__item:hover .list-container {
  display: block;
  z-index: 1;
}

.header-menu .right-menu .menu-container .menu__item .list-container li {
  width: 100%;
  padding: 6px 14px;
  font-weight: normal;
  color: #2c2c2c;
}

.header-menu .right-menu .menu-container .menu__item .list-container li:hover {
  background-color: #eee;
}

/* CONTROL MENU */
.control-menu {
  display: flex;
  align-items: center;
}

.control-menu i {
  font-size: 22px;
  padding: 13px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.control-menu i:hover {
  background: #fafafa;
}

.control-menu .user-option-container {
  margin-right: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.control-menu.logined .user-option-container {
  position: relative;
  cursor: pointer;
}

.control-menu.logined .user-option-container .model-container {
  position: absolute;
  bottom: -175px;
  right: -40px;
  width: 230px;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: none;
  z-index: 1;
}

.control-menu.logined .user-option-container .model-container .model-item {
  padding: 4px 10px;
  font-size: 15px;
}

.control-menu.logined .user-option-container .model-container .model-item:hover {
  background-color: #eee;
}

.control-menu.logined .user-option-container .model-container .model-item i {
  margin-right: 10px;
}

.control-menu .user-option-container .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: rgb(255, 236, 235);
  color: rgb(116, 21, 15);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.control-menu .user-option-container .avatar h3 {
  color: rgb(116, 21, 15);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
  margin: 0;
}

.control-menu .user-option-container span {
  margin: 6px;
  font-size: 14px;
}

.control-menu .user-option-container i {
  font-size: 16px;
  padding: 0;
}

.control-menu .postProduct__button {
  border: solid 1px #ccc;
}

.control-menu.logined .postProduct__button {
  color: #e03c87;
  border: solid 1px #e03c87;
}

.control-menu.logined .postProduct__button:hover {
  background-color: #e03c860a;
}

/* SEARCHBAR */
.search-bar {
  border-top: 1px solid #f2f2f2;
  box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18);
  height: 50px;
  background-color: white;
  padding-right: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar .filter-wall {
  background: #f2f2f2;
  width: 1px;
  height: 32px;
  float: left;
  margin: 12px 0px;
}

.search-bar__tab {
  margin: 12px 16px;
  display: flex;
}

.search-bar__tab .tab-box {
  color: #999;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
}

.search-bar__tab .tab-box.tab-box--actived {
  color: #fff;
  background: #505050;
  border-color: #505050;
}

.search-bar__tab .tab-box:first-child {
  padding: 6px 26px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-bar__tab .tab-box:last-child {
  padding: 6px 9px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-bar__input {
  margin: 12px 16px 12px 0px;
  background-color: #f2f2f2;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  width: 20%;
}

.search-bar__input input {
  background-color: #f2f2f2;
  margin-left: 10px;
}

.search-bar__input i {
  cursor: pointer;
}

.search-bar__input:hover {
  border: 1px solid #f7f7f7;
}

.search-select-container {
  position: relative;
  padding: 5px 11px;
  cursor: pointer;
  flex: 1;
}

.search-select-container::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
}

.search-select-container:nth-child(12),
.search-select-container:nth-child(14) {
  flex: 0.65;
}

.search-select-container:nth-child(12) {
	position: relative;
}

.search-select-container:nth-child(12) .amount-search-more {
	position: absolute;
    right: 6px;
    top: 0px;
    color: #fff;
    background-color: #2c2c2c;
    border-radius: 999px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-select-container:nth-child(12) .amount-search-more {
	
}

.search-select-container:nth-child(12) span,
.search-select-container:nth-child(14) span {
  font-size: 13px;
  font-weight: 600;
}

.search-select__item span {
  font-size: 12px;
  padding-right: 6px;
}

.search-select-container #list-type,
.search-select-container #list-address,
.search-select-container #list-price,
.search-select-container #list-area {
  display: block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.search-select-container:hover {
  background-color: #eeeeeed0;
}

.search-select-container .dropdown-menu {
  width: 300px;
  display: none;
}
.search-select-container .dropdown-menu.menu-more {
  width: 356px;
}

.search-select-container.search-more .dropdown-menu {
  left: -242px;
  top: 41px;
}

.search-select-container .dropdown-menu .menu-list {
  max-height: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-select-container .dropdown-menu.menu-address .menu-list,
.search-select-container .dropdown-menu.menu-more .menu-list {
  overflow: hidden;
  padding: 16px 16px 4px 16px;
}

.search-select-container .dropdown-menu.menu-more .menu-list {
  max-height: 305px;
}

.search-select-container .dropdown-menu .menu-list .separate {
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
  margin: 4px 0;
}

.search-select-container .menu-item {
  display: flex;
  flex-direction: column;
}

.search-select-container .menu-item .item__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.search-select-container .menu-item .list__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.search-select-container .menu-item .list__items .item {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal !important;
  padding: 6px 17px;
  background: #f2f2f2;
  color: #2c2c2c;
  float: left;
  margin: 0px 8px 8px 0px;
  border-radius: 40px;
}

.search-select-container .menu-item .list__items .item:hover {
  background-color: #e2e2e2;
}

.search-select-container .menu-item .list__items .item.active {
  background: #ffeceb;
  color: #74150f;
}

.search-select-container .menu-item .list__items .item.active:hover {
  background: #ffdfde;
}

.search-select-container .listing-search-button {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 12px;
}

.search-select-container .listing-search-button .listing-search-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal !important;
  padding: 13px 15px;
  color: #2c2c2c;
}

.search-select-container .listing-search-button.has-value .listing-search-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal !important;
  color: #999;
  padding: 5px 15px 0px 15px;
}

.search-select-container .listing-search-button .listing-search-current-text {
  display: none;
}

.search-select-container .listing-search-button.has-value .listing-search-current-text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #2c2c2c;
  padding: 0px 35px 5px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-select-container .listing-search-button .fa-angle-right,
.search-select-container .listing-search-button .fa-xmark {
  position: absolute;
  top: 35%;
  right: 20px;
  color: #ccc;
  font-size: 18px;
}

.search-select-container .listing-search-button.has-value .fa-angle-right {
  display: none;
}

.search-select-container .listing-search-button .fa-xmark {
  display: none;
}

.search-select-container .listing-search-button.has-value .fa-xmark {
  display: block;
}

.search-select-container .dropdown-menu .menu-title {
  text-align: center;
  font-weight: 600;
  padding: 16px;
}

.search-select-container .dropdown-menu .close-menu-button {
  font-size: 30px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.search-select-container .dropdown-menu label,
.search-select-container .dropdown-menu a {
  width: 100%;
  margin-bottom: 0px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: normal;
  color: #2c2c2c;
  text-decoration: none;
}

.search-select-container .dropdown-menu label:hover,
.search-select-container .dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.search-select-container .dropdown-menu label i {
  width: 16px;
  display: inline-block;
  text-align: center;
}

.search-select-container .dropdown-menu span.active {
  color: #74150f;
}

.search-select-container .dropdown-menu.menu-type,
.search-select-container .dropdown-menu.menu-address,
.search-select-container .dropdown-menu.menu-price,
.search-select-container .dropdown-menu.menu-area,
.search-select-container .dropdown-menu.menu-more,
.search-select-container .dropdown-menu.menu-address,
.search-select-container .dropdown-menu#province-menu,
.search-select-container .dropdown-menu#district-menu,
.search-select-container .dropdown-menu#ward-menu {
  display: none;
}

.search-select-container.search-type:hover .dropdown-menu.menu-type,
.search-select-container.search-address:hover .dropdown-menu.menu-address,
.search-select-container.search-price:hover .dropdown-menu.menu-price,
.search-select-container.search-area:hover .dropdown-menu.menu-area,
.search-select-container.search-more:hover .dropdown-menu.menu-more {
  display: block;
}

.list-search-select-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-search-select__reset-button {
  margin: 7px;
  color: #2c2c2c;
  padding: 6px 12px;
}

.list-search-select__reset-button span {
  font-weight: 600;
  margin-left: 6px;
}

.list-search-select__search-button {
  color: #fff;
  background: #e03c31;
  margin: 7px 7px 7px 0px;
  padding: 6px 12px;
  border-radius: 4px;
}

.search-bar__input .list-search-select__search-button {
	margin: 0;
	padding: 4px;
    font-size: 14px;
}

.list-search-select__search-button:hover {
	background: #e2544a;
}

input[type="checkbox"]:checked {
  visibility: visible;
  color: red;
}

.search-select-container .type-item {
  position: relative;
}

/* Hide the browser's default checkbox */
.search-select-container .type-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.search-select-container .checkmark {
  position: absolute;
  top: 25%;
  right: 15px;
  height: 15px;
  width: 15px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.search-select-container .type-item input:checked ~ .checkmark {
  background-color: #bf0000;
  border: 2px solid #bf0000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.search-select-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.search-select-container .type-item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.search-select-container .type-item .checkmark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* RANGER */
.range-slider-container {
  padding: 20px 15px;
}

.range-slider-container .price-input,
.range-slider-container .area-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.range-slider-container .price-input .field,
.range-slider-container .area-input .field {
  display: flex;
  width: 100%;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px 0;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #009ba1;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #009ba1;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #00adb3;
}

input[type="range"]::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 50%;
  background: #009ba1;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb:hover {
  background: #00adb3;
}
