@charset "UTF-8";

.news {
  width: 100%;
  padding-top: 20px;
}

.news .container {
}

.news .searchBar-container {
  height: 46px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.news .searchBar-container .searchBar-breadcrumb-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.news .searchBar-container .searchBar-breadcrumb-wrapper > i {
  margin: 0 14px;
}

.news .searchBar-container .searchBar-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.news .searchBar-container .searchBar-wrapper i {
  font-size: 16px;
}

.news .searchBar-container .searchBar-wrapper input {
  padding-left: 10px;
}

.news .justify-content-md-center {
  display: flex;
  justify-content: center !important;
}

.news .news-header-wrapper {
  margin: 50px 0;
}

.news .news-header-wrapper .news-heading {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  color: #2c2c2c;
}

.news .news-header-wrapper .news-subheading {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2c2c2c;
  margin-bottom: 0;
}

.news .main-article {
  position: relative;
  cursor: pointer;
}

.news .main-article img {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: -1000;
  height: 360px;
  object-fit: cover;
}

.news .main-article .main-article__textOverlay {
  position: absolute;
  bottom: 0;
  padding: 30px;
  z-index: 4;
  color: #fff;
}

.news .main-article .main-article__textOverlay .article-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #f2f2f2;
}

.news .main-article .main-article__textOverlay .article-title {
  font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 10px 0;
    overflow: hidden;
    color: #fff;
}

.news .main-article .main-article__textOverlay .article-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news .main-article .main-article__backgroundOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(180deg, rgba(44, 44, 44, 0) 0, #2c2c2c 100%);
}

.news .article-right-content {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
}

.news .article-right-content .article-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  display: block;
}

.news .article-right-content .card-info__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 10px;
  color: #2c2c2c;
  display: block;
  cursor: pointer;
}

.news .article-right-content .card-info__title:hover {
  color: #999;
}

.news-content .article-list-heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #2c2c2c;
  margin: 30px 0;
}

/* NEWSCARD */
.news-card {
  margin-bottom: 25px;
  border-bottom: 1px solid #dfdddd;
  display: flex;
  flex-direction: row;
  padding: 0 0 15px;
}

.news-card .card-img-container {
  position: relative;
}

.news-card .card-img-container img {
  width: 260px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.news-card .card-img-container .card-highlight {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #505050;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-overflow: ellipsis;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 2px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.news-card .card-info-container {
  margin-left: 12px;
}

.news-card .card-info-container .article-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #999;
}

.news-card .card-info-container .card-info__title {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 550;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  cursor: pointer;
}

.news-card .card-info-container .card-info__title:hover {
  color: #999;
}

.news-card .card-description {
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* SIDEBAR */
.hidden-xs {
  display: block;
}

@media only screen and (max-width: 992px) {
  .hidden-xs {
    display: none;
  }
}

/*  */
.news-sidebar {
}

.news-sidebar .popular-article-wrapper,
.news-sidebar .hot-location-wrapper,
.news-sidebar .big-location-wrapper {
  padding: 15px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  color: #2c2c2c;
  margin-bottom: 30px;
}

.news-sidebar h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #2c2c2c;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

.news-sidebar .popular-article-wrapper .popular-article__item {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0 15px;
}

.news-sidebar .popular-article-wrapper .popular-article__item:last-child {
  border: none;
  padding: 0;
  padding-top: 20px;
}

.news-sidebar .popular-article-wrapper .popular-article__sortedNumber {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: 12px;
  width: 24px;
  height: 24px;
  background: #ffeceb;
  border-radius: 100px;
  margin: 0 10px 0 0;
  font-weight: 400;
  line-height: 22px;
  color: #961b12;
}

.news-sidebar .popular-article-wrapper .popular-article__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #2c2c2c;
}

.news-sidebar .popular-article-wrapper .popular-article__item a:hover {
  color: #999;
}

.news-sidebar .hot-location-wrapper .hot-location-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  gap: 10px;
  padding: 15px 0;
}

.news-sidebar .hot-location-wrapper .hot-location-container .hot-location-image-hanoi {
  background-image: url(https://cdn-assets-angel.batdongsan.com.vn/_next/static/media/hanoi.6a457985.png);
  width: 100%;
  height: 75px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
}

.news-sidebar .hot-location-wrapper .hot-location-container .hot-location-image-hochiminh {
  background-image: url(https://cdn-assets-angel.batdongsan.com.vn/_next/static/media/hcmc.fcaa9c3c.png);
  width: 100%;
  height: 75px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
}

.news-sidebar .hot-location-wrapper .hot-location-container .hot-location-overlay {
  width: 100%;
  height: 42px;
  background: linear-gradient(180deg, rgba(44, 44, 44, 0) 0, #2c2c2c 100%);
  border-radius: 0 0 8px 8px;
}

.news-sidebar .hot-location-wrapper .hot-location-container .hot-location-overlay span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.news-sidebar .big-location-container {
  padding: 16px 0 0;
}

.news-sidebar .big-location-container .big-location-item {
  display: flex;
  padding: 0 0 15px;
  gap: 15px;
  align-items: center;
  color: #2c2c2c;
}

.news-sidebar .big-location-container .big-location-item:last-child {
  padding: 0;
}

.news-sidebar .big-location-container .big-location-item img {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background-size: cover;
}

.news-sidebar .big-location-container .big-location-item .big-location-title {
  width: 205px;
  height: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

<!--Phân trang-->
.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
